<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="novel.dao.mapper.SpiderListMapper" >
  <resultMap id="BaseResultMap" type="novel.dao.model.SpiderList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="list_name" property="listName" jdbcType="VARCHAR" />
    <result column="thread_num" property="threadNum" jdbcType="INTEGER" />
    <result column="start_page" property="startPage" jdbcType="INTEGER" />
    <result column="current_page" property="currentPage" jdbcType="INTEGER" />
    <result column="total_page" property="totalPage" jdbcType="INTEGER" />
    <result column="default_charset" property="defaultCharset" jdbcType="VARCHAR" />
    <result column="list_url_pattern" property="listUrlPattern" jdbcType="VARCHAR" />
    <result column="catalog_url_pattern" property="catalogUrlPattern" jdbcType="VARCHAR" />
    <result column="content_url_pattern" property="contentUrlPattern" jdbcType="VARCHAR" />
    <result column="run_status" property="runStatus" jdbcType="BIT" />
    <result column="spider_web_id" property="spiderWebId" jdbcType="INTEGER" />
    <result column="spider_parser_id" property="spiderParserId" jdbcType="INTEGER" />
    <result column="spider_web_name" property="spiderWebName" jdbcType="VARCHAR" />
    <result column="spider_time" property="spiderTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, list_name, thread_num, start_page, current_page, total_page, default_charset, 
    list_url_pattern, catalog_url_pattern, content_url_pattern, run_status, spider_web_id, 
    spider_parser_id, spider_web_name, spider_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="novel.dao.model.SpiderListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from spider_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from spider_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from spider_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="novel.dao.model.SpiderListExample" >
    delete from spider_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="novel.dao.model.SpiderList" >
    insert into spider_list (id, list_name, thread_num, 
      start_page, current_page, total_page, 
      default_charset, list_url_pattern, catalog_url_pattern, 
      content_url_pattern, run_status, spider_web_id, 
      spider_parser_id, spider_web_name, spider_time
      )
    values (#{id,jdbcType=INTEGER}, #{listName,jdbcType=VARCHAR}, #{threadNum,jdbcType=INTEGER}, 
      #{startPage,jdbcType=INTEGER}, #{currentPage,jdbcType=INTEGER}, #{totalPage,jdbcType=INTEGER}, 
      #{defaultCharset,jdbcType=VARCHAR}, #{listUrlPattern,jdbcType=VARCHAR}, #{catalogUrlPattern,jdbcType=VARCHAR}, 
      #{contentUrlPattern,jdbcType=VARCHAR}, #{runStatus,jdbcType=BIT}, #{spiderWebId,jdbcType=INTEGER}, 
      #{spiderParserId,jdbcType=INTEGER}, #{spiderWebName,jdbcType=VARCHAR}, #{spiderTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="novel.dao.model.SpiderList" >
    insert into spider_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="listName != null" >
        list_name,
      </if>
      <if test="threadNum != null" >
        thread_num,
      </if>
      <if test="startPage != null" >
        start_page,
      </if>
      <if test="currentPage != null" >
        current_page,
      </if>
      <if test="totalPage != null" >
        total_page,
      </if>
      <if test="defaultCharset != null" >
        default_charset,
      </if>
      <if test="listUrlPattern != null" >
        list_url_pattern,
      </if>
      <if test="catalogUrlPattern != null" >
        catalog_url_pattern,
      </if>
      <if test="contentUrlPattern != null" >
        content_url_pattern,
      </if>
      <if test="runStatus != null" >
        run_status,
      </if>
      <if test="spiderWebId != null" >
        spider_web_id,
      </if>
      <if test="spiderParserId != null" >
        spider_parser_id,
      </if>
      <if test="spiderWebName != null" >
        spider_web_name,
      </if>
      <if test="spiderTime != null" >
        spider_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="listName != null" >
        #{listName,jdbcType=VARCHAR},
      </if>
      <if test="threadNum != null" >
        #{threadNum,jdbcType=INTEGER},
      </if>
      <if test="startPage != null" >
        #{startPage,jdbcType=INTEGER},
      </if>
      <if test="currentPage != null" >
        #{currentPage,jdbcType=INTEGER},
      </if>
      <if test="totalPage != null" >
        #{totalPage,jdbcType=INTEGER},
      </if>
      <if test="defaultCharset != null" >
        #{defaultCharset,jdbcType=VARCHAR},
      </if>
      <if test="listUrlPattern != null" >
        #{listUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="catalogUrlPattern != null" >
        #{catalogUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="contentUrlPattern != null" >
        #{contentUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null" >
        #{runStatus,jdbcType=BIT},
      </if>
      <if test="spiderWebId != null" >
        #{spiderWebId,jdbcType=INTEGER},
      </if>
      <if test="spiderParserId != null" >
        #{spiderParserId,jdbcType=INTEGER},
      </if>
      <if test="spiderWebName != null" >
        #{spiderWebName,jdbcType=VARCHAR},
      </if>
      <if test="spiderTime != null" >
        #{spiderTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="novel.dao.model.SpiderListExample" resultType="java.lang.Integer" >
    select count(*) from spider_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update spider_list
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.listName != null" >
        list_name = #{record.listName,jdbcType=VARCHAR},
      </if>
      <if test="record.threadNum != null" >
        thread_num = #{record.threadNum,jdbcType=INTEGER},
      </if>
      <if test="record.startPage != null" >
        start_page = #{record.startPage,jdbcType=INTEGER},
      </if>
      <if test="record.currentPage != null" >
        current_page = #{record.currentPage,jdbcType=INTEGER},
      </if>
      <if test="record.totalPage != null" >
        total_page = #{record.totalPage,jdbcType=INTEGER},
      </if>
      <if test="record.defaultCharset != null" >
        default_charset = #{record.defaultCharset,jdbcType=VARCHAR},
      </if>
      <if test="record.listUrlPattern != null" >
        list_url_pattern = #{record.listUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogUrlPattern != null" >
        catalog_url_pattern = #{record.catalogUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="record.contentUrlPattern != null" >
        content_url_pattern = #{record.contentUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="record.runStatus != null" >
        run_status = #{record.runStatus,jdbcType=BIT},
      </if>
      <if test="record.spiderWebId != null" >
        spider_web_id = #{record.spiderWebId,jdbcType=INTEGER},
      </if>
      <if test="record.spiderParserId != null" >
        spider_parser_id = #{record.spiderParserId,jdbcType=INTEGER},
      </if>
      <if test="record.spiderWebName != null" >
        spider_web_name = #{record.spiderWebName,jdbcType=VARCHAR},
      </if>
      <if test="record.spiderTime != null" >
        spider_time = #{record.spiderTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update spider_list
    set id = #{record.id,jdbcType=INTEGER},
      list_name = #{record.listName,jdbcType=VARCHAR},
      thread_num = #{record.threadNum,jdbcType=INTEGER},
      start_page = #{record.startPage,jdbcType=INTEGER},
      current_page = #{record.currentPage,jdbcType=INTEGER},
      total_page = #{record.totalPage,jdbcType=INTEGER},
      default_charset = #{record.defaultCharset,jdbcType=VARCHAR},
      list_url_pattern = #{record.listUrlPattern,jdbcType=VARCHAR},
      catalog_url_pattern = #{record.catalogUrlPattern,jdbcType=VARCHAR},
      content_url_pattern = #{record.contentUrlPattern,jdbcType=VARCHAR},
      run_status = #{record.runStatus,jdbcType=BIT},
      spider_web_id = #{record.spiderWebId,jdbcType=INTEGER},
      spider_parser_id = #{record.spiderParserId,jdbcType=INTEGER},
      spider_web_name = #{record.spiderWebName,jdbcType=VARCHAR},
      spider_time = #{record.spiderTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="novel.dao.model.SpiderList" >
    update spider_list
    <set >
      <if test="listName != null" >
        list_name = #{listName,jdbcType=VARCHAR},
      </if>
      <if test="threadNum != null" >
        thread_num = #{threadNum,jdbcType=INTEGER},
      </if>
      <if test="startPage != null" >
        start_page = #{startPage,jdbcType=INTEGER},
      </if>
      <if test="currentPage != null" >
        current_page = #{currentPage,jdbcType=INTEGER},
      </if>
      <if test="totalPage != null" >
        total_page = #{totalPage,jdbcType=INTEGER},
      </if>
      <if test="defaultCharset != null" >
        default_charset = #{defaultCharset,jdbcType=VARCHAR},
      </if>
      <if test="listUrlPattern != null" >
        list_url_pattern = #{listUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="catalogUrlPattern != null" >
        catalog_url_pattern = #{catalogUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="contentUrlPattern != null" >
        content_url_pattern = #{contentUrlPattern,jdbcType=VARCHAR},
      </if>
      <if test="runStatus != null" >
        run_status = #{runStatus,jdbcType=BIT},
      </if>
      <if test="spiderWebId != null" >
        spider_web_id = #{spiderWebId,jdbcType=INTEGER},
      </if>
      <if test="spiderParserId != null" >
        spider_parser_id = #{spiderParserId,jdbcType=INTEGER},
      </if>
      <if test="spiderWebName != null" >
        spider_web_name = #{spiderWebName,jdbcType=VARCHAR},
      </if>
      <if test="spiderTime != null" >
        spider_time = #{spiderTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="novel.dao.model.SpiderList" >
    update spider_list
    set list_name = #{listName,jdbcType=VARCHAR},
      thread_num = #{threadNum,jdbcType=INTEGER},
      start_page = #{startPage,jdbcType=INTEGER},
      current_page = #{currentPage,jdbcType=INTEGER},
      total_page = #{totalPage,jdbcType=INTEGER},
      default_charset = #{defaultCharset,jdbcType=VARCHAR},
      list_url_pattern = #{listUrlPattern,jdbcType=VARCHAR},
      catalog_url_pattern = #{catalogUrlPattern,jdbcType=VARCHAR},
      content_url_pattern = #{contentUrlPattern,jdbcType=VARCHAR},
      run_status = #{runStatus,jdbcType=BIT},
      spider_web_id = #{spiderWebId,jdbcType=INTEGER},
      spider_parser_id = #{spiderParserId,jdbcType=INTEGER},
      spider_web_name = #{spiderWebName,jdbcType=VARCHAR},
      spider_time = #{spiderTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>